.App-logo {
  height: 150px;
  pointer-events: none;
}
.App-header {
  height: 100%;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card{
  padding-bottom: 33px;
}

.grid{
  display: grid!important;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr))!important;
  align-items: center!important;
  grid-gap: 2rem!important;
  gap: 2rem!important;
  justify-items: center!important;
  left:0

}

.card{
  border-radius: 20px!important;
  text-align: center!important;
}
.imgLogo{
  border-radius: 50%!important;
  width: 70%!important;
}

.right{
  text-align: right!important;
}
